{#Tableau panier affichant les produits du paniers. Actuellement inclu dans showProduits #}
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
        {% if panier.panierProduits is not empty %}
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col" class="text-center">Photo</th>
            <th scope="col" class="text-center">Type de Produit</th>
            <th scope="col" class="text-center">Quantité</th>
            <th scope="col" class="text-center">Total</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for produit in panier.panierProduits %}
            {% if panier.panierProduits is not empty %}
                <tr>
                    <th scope="row">{{ produit.produit.nom }}</th>
                    <td>{{ produit.produit.prix }} €</td>
                    <td class="text-center"><img class="img-fluid" style="width: 100px; height: 100px;" src="{{ asset('Images/'~produit.produit.photo) }}" alt="Pas de photo du produit" /></td>
                    <td class="text-center">{{ produit.produit.getTypeProduitId().libelle | default("Aucun type renseigné")}}</td>
                    <td class="text-center">{{ produit  .getQuantity() }}</td>
                    <td class="text-center">{{ produit.getQuantity()*produit.produit.prix }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td class="text-center">
                            <a href="{{ path('Panier.addItem', {id: produit.produit.id}) }}"><span class="icono-plus" aria-hidden="true" style="color: #21ff94;"></span></a>
                            <a href="{{ path('Panier.removeItem', {id: produit.produit.id}) }}"><span class="icono-cross" aria-hidden="true" style="color: #cc0000;"></span></a>
                        </td>

                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="text-center"><a href="#"><span class="icono-cross" style="color: #cc0000;"></span></a></td>
                    {% endif %}
                </tr>
            </tbody>
        {% endif %}
        {% else %}
            <tr><th colspan="7" class="text-center">Pas d'articles dans le panier</th></tr>
            </tbody>
        {% endfor %}
        {% if panier.panierProduits is not empty %}
        <tfoot>
        <tr>
            <th colspan="5">Valeur du panier:</th>
            <th class="text-center">{{ montant }} €</th>
        </tr>
        </tfoot>
            <div class="m-1">
                <a href="{{ path('panier.vider') }}" class="btn btn-outline-danger">Vider le panier</a>
                <a href="#" class="btn btn-outline-success float-right" data-toggle="modal" data-target="#exampleModalCenter">Valider le panier</a>
            </div>
        {% endif %}
    </table>
</div>
{% include 'command/command_details.html.twig' %}
