{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block header %}
    <h1>Inscription</h1>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.userName, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
    {{ form_row(form.email, {'label':'Adresse email', 'attr': {'placeholder': 'Adresse email'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmation du mot de passe'}}) }}
	{{ form_row(form.ville, {'label': 'Ville', 'attr': {'placeholder': 'Votre ville ...'}}) }}
	{{ form_row(form.codePostal, {'label': 'Code Postal', 'attr': {'placeholder': 'Votre code postal ...'}}) }}
	{{ form_row(form.adresse, {'label': 'Adresse', 'attr': {'placeholder': 'Votre adresses ...'}}) }}
    {% if errors is not empty%}
        <div class="alert alert-danger">
            {{ errors[0] }}
            {#{{ errors }}#}
        </div>
    {% endif %}
    <div class="g-recaptcha mb-3" data-sitekey="6Ld153kUAAAAAOha_HnDG3zVqj9R2Jgjhl4Kg1Nc"></div>
    <button type="submit" class="btn btn-success" style="margin-bottom: 10em;">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}



