{% extends 'base.html.twig' %}

{% block title %}Liste commandes {% endblock %}

{% block header %}<h1>Voici les commandes</h1>{% endblock %}

{% block body %}
    
    <div class="row text-center">
        <div class="alert alert-success col">
            <strong>Commande validée</strong>
        </div>
        <div class="alert alert-warning col">
            <strong>Commande en attente </strong>
        </div>
        <div class="alert alert-danger col">
            <strong>Commande annulée </strong>
        </div>
    </div>
    <div class="text-center">
    {% for command in commands if commands is not empty%}
        {% include 'command/command_validated_details.html.twig'%}
        {#TODO: mettre le lien du modal sur toute l'alert#}
        <div class="alert
            {% if command.etat == 'Attente' %}
                alert-warning
            {% elseif command.etat == 'Validee' %}
                alert-success
            {% elseif command.etat == 'Annulee' %}
                alert-danger
            {% endif %}
        ">
            <strong class="float-left"><a href="#" class="btn btn-outline-success" data-toggle="modal" data-target="#T{{ command.id }}">Commande : {{ command.id }}</a></strong>
            <p style="display: inline">client : {{ command.getUser().userName }}</p>
            <p class="float-right text-secondary">Montant : {{ command.montant }} | {{ command.dateCommande|date('m-d-Y') }}</p><br>
            {% include 'command/command_option.html.twig' %}
        </div>
    {% else %}
        <p class="text-secondary text-center">Pas encore de commandes</p>
    {% endfor %}
    </div>
{% endblock %}
