<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('Home.index') }}">Site Ecommerce </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link " href="{{ path('Home.index') }}">Accueil</a>
            <a class="nav-item nav-link" href="{{ path('Produit.show') }}">Produits</a>
            <a class="nav-item nav-link" href="{{ path('Command.show') }}">Commandes</a>
            <a class="nav-item nav-link" href="{{ path('Produit.showByType') }}">Voir par catégories</a>
            {% if not app.user %}
                <a class="nav-item nav-link" href="{{ path('Security.login') }}">Connexion</a>
            {% else %}
                <a class="nav-item nav-link" href="{{ path('Security.logout') }}">Deconnexion</a>
        </ul>
        <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <div class="navbar-text ml-auto">Connecté en tant que client</div>
                {% else %}
                    <div class="nav-item nav-link">Connecté en tant qu'administrateur</div>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
